body{
    background-color:rgb(37,37,37);
    color:#fff;
}
.navigationBar
{
color: white;
background-color:#242424;
min-height:30px;
padding:0px;
}
#logo
{
    color: #ec0808;
    background-color: #e1f1f1;
}

.navigationBar__button{
    display:inline-block;
    min-width:125px;
    min-height: 30px;  
    color: green;
    background-color: lightgray;
    padding: 10px 20px;
    border: 10px double #213769;
    border-radius:15px;
    margin:auto;
}
.main
{
margin-left: auto;
margin-right: auto;
text-align: center;
width: 1000px;
height: 1000px;
overflow: hidden;
}
.main__header
{
    color:rgb(124, 115, 116);
}

#mainHeader{
    color: brown;
    text-align: center;
} 
.main-article{
    background-color: rgba(87, 87, 206, 0.753);
    border-radius: 10px;
}
.main-article__header
{
color:rgba(197, 194, 32);
text-align: center;
}
.main-article__paragraph
{
color:rgb(255, 255, 255);
text-align: left;
padding-left:10px;
}
.meme{
    width:500px;
    height:500px;
    overflow:hidden;
    margin:auto;
}
footer{
    background-color: green;
    color: #c6cccc
    display:inline-block;
}



