body
{
    background-color: lightgray;
    color:#19064e;
}
section
{
background-color:lightgoldenrodyellow;
color:#044704;
}
article
{
background-color:lightseagreen;
color:#023121
}
.header
{
text-align: center;
color: #e70f0f;
}

#headerAuuu
{
    color:black;
    text-align:right;
}
