body{
    background-color:#000;
    color:#fff;
}
h1
{
text-align: center;
color:#4a9c1a;
}
h2
{
color:#1460aa;
}
h3
{
    
color:#123456;
}
p
{
   color:#fd00e8 ;
}
footer
{
    color: black;
}
.headerClass
{
    color:rgb(124, 115, 116);
}
#mainHeader{
    color: brown;
}
.nav-bar{
    display:inline-block;
    min-width:125px;
    min-height: 25px
    
}



